@mixin small-control {
	font: {
		family: sans-serif;
		size: 15px;
	}
}

@mixin smaller-control {
	font: {
		family: sans-serif;
		size: 14px;
	}
}

.widget.buddypress .bp-login-widget-user-links>div {
	padding-left: 66px;
	margin-bottom: .5rem;
}

.widget.buddypress #bp-login-widget-form label {
	display: block;
	margin: 1rem 0;
}

.widget.buddypress div.item-content, .widget.buddypress div.item-meta {
	font-size: 12px;
	margin-left: 31px;
}

.widget.buddypress span.activity {
	font-size: 100%;
	opacity: .8;
}

.item-options {
	.selected {
		color: #707070;
		color: rgba(51, 51, 51, 0.7);
	}
}

#buddypress .comment-reply-link, 
#buddypress a.button, 
#buddypress button, 
#buddypress div.generic-button a, 
#buddypress input[type=button], 
#buddypress input[type=reset], 
#buddypress input[type=submit], 
#buddypress ul.button-nav li a, 
a.bp-title-button {
	font-size: 1.4rem;
	padding: 12px 15px;
	vertical-align: middle;

	&:hover {
		background: #ededed;
	}
}

#buddypress ul.item-list li div.meta {
	color: #777;
	font-size: 80%;
}

#buddypress div.pagination .pagination-links {
	float: right;
	margin-right: 80px;
	height: auto;
}

#buddypress div.dir-search {
	float: right;
	margin: -88px 0 0;
}

div.dir-search {
	label {
		color: #777;
		display: inline-block;
		vertical-align: top;
	}
}

#buddypress .dir-search input[type=search], 
#buddypress .dir-search input[type=text], 
#buddypress .groups-members-search input[type=search], 
#buddypress .groups-members-search input[type=text], 
#buddypress .standard-form input[type=color], 
#buddypress .standard-form input[type=date], 
#buddypress .standard-form input[type=datetime-local], 
#buddypress .standard-form input[type=datetime], 
#buddypress .standard-form input[type=email], 
#buddypress .standard-form input[type=month], 
#buddypress .standard-form input[type=number], 
#buddypress .standard-form input[type=password], 
#buddypress .standard-form input[type=range], 
#buddypress .standard-form input[type=search], 
#buddypress .standard-form input[type=tel], 
#buddypress .standard-form input[type=text], 
#buddypress .standard-form input[type=time], 
#buddypress .standard-form input[type=url], 
#buddypress .standard-form input[type=week], 
#buddypress .standard-form select, 
#buddypress .standard-form textarea,
#buddypress div.dir-search input[type=text],
#buddypress li.groups-members-search input[type=text] {
	@include small-control;
	padding: 5px 14px;
}

#buddypress div.item-list-tabs {
	display: inline-block;
	float: left;
	clear: none;

	&#subnav {
		float: right;
		margin: 0;
		@include small-control;
		color: #777;
	}

	&#object-nav {
		border-bottom: 1px solid #eaeaea;
	}
}

.entry-content a, 
.entry-summary a, 
.page-content a, 
.comment-content a, 
.pingback .comment-body > a {
	border-bottom: none;
}

button, 
input, 
select, 
textarea {
	@include small-control;
	padding: 5px;
	color: #777;
	border: 1px solid #ccc;
}

#buddypress div.item-list-tabs ul li {
	box-shadow: none;
}

#buddypress div.item-list-tabs ul li a {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 1px solid #eaeaea;
	border-bottom: none;
	margin-right: 3px;
}

#buddypress div.item-list-tabs ul li a, 
#buddypress div.item-list-tabs ul li span {
	font-family: sans-serif;
	font-size: 14px;
	padding: 9px 17px;
	color: #777;
	font-weight: 600;
}

#buddypress div.item-list-tabs ul li.current a, 
#buddypress div.item-list-tabs ul li.selected a,
#buddypress div.item-list-tabs ul li:hover a {
	background: #ededed;
	color: #333 !important;
}

.pagination .page-numbers {
	float: left;
	padding: 0 0.8421em;

	&.next {
		padding: 0;
	}
}

ul.item-list li div.item-title, 
#buddypress ul.item-list li h4 {
	font: {
		size: 100% !important;
		weight: 600 !important; 
	}
}

#buddypress div.pagination .pag-count {
	margin-left: 80px;
	margin-top: 15px;
	font-size: 90%;
}

#buddypress ul.item-list li div.item-desc {
	font-size: 90%;
	margin: 10px 0 0 70px;
}

#buddypress span.activity {
	font-size: 70%;
	opacity: .6;
}

.pagination .page-numbers {
	line-height: 3;

	&.next,
	&.prev {
		padding: 0 !important;
	}
}

#buddypress div.pagination .pagination-links a, 
#buddypress div.pagination .pagination-links span {
	font-size: 100%;
	padding: 0 10px;
}

.pagination .prev, 
.pagination .next {
	height: 50px;
	width: 53px;

	&:before {
		height: 50px;
		line-height: 50px;
		width: 52px;
	}
}

#buddypress div.pagination {
	box-shadow: none;
	padding: 10px 0;
	border-top: 1px solid #eaeaea;
}

.button.group-create {
	background: #333 !important;
	color: #fff !important;
	border: none !important;

	&:hover {
		background: #222 !important;
	}
}

#whats-new-form {
	clear: both;
}

.group-home {
	#subnav {
		width: 100%;
		margin: 20px 0 30px !important;
	}
}

#whats-new-avatar {
	margin-top: -5px;
}

.feed {
	a {
		border-bottom: 1px solid #eaeaea !important;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}

#buddypress ul.item-list li {
	border-bottom: 1px solid #eaeaea;
	padding: 25px 0;
}

#buddypress .activity-list .activity-content {
	margin: -15px 0 0 70px;
}

#buddypress .activity-list .activity-content .activity-header img.avatar {
	float: left !important;
	margin: 0 10px 0px 0 !important;
}

#buddypress #activity-stream p {
	margin: 10px 0;
}

#buddypress div.item-list-tabs ul li:last-child a {
	margin-right: 0 !important;
}

#whats-new-textarea {
	textarea {
		width: 100% !important;
		height: 100px !important;
	}
}

#whats-new-options {
	height: 50px !important;
}

.activity-header {
	font-size: 14px;

	p {
		a,
		img {
			display: none;

			&:first-child {
				display: block;
			}
		}

		.view {
			display: block;
		}
	}
}

#buddypress div.activity-meta a {
	padding: 7px 13px;
}

#buddypress #reply-title small a span, 
#buddypress a.bp-primary-action span {
	padding: 3px 5px 1px;
}

.activity-header p a:first-child, .activity-header p img:first-child {
	display: inline-block;
}

#buddypress ul.item-list li img.avatar {
	margin: 0 20px 0 0;
}

a.join-group {
	margin-bottom: 30px;
	display: block;
	padding: 7px 14px;
}

#buddypress div#item-header img.avatar {
	margin: 0 20px 19px 0;
}

.activity-read-more {
	a {
		font-family: sans-serif;
		letter-spacing: .8px;
	}
}

.last.filter {
	label {
		margin-right: 4px;
	}
}

#members-list {
	li {
		.item-title {
			font-weight: 400 !important;

			& > a {
				font-weight: 600 !important;
			}
		}
	}
}