/* line 15, buddypress.scss */
.widget.buddypress .bp-login-widget-user-links > div {
  padding-left: 66px;
  margin-bottom: .5rem;
}

/* line 20, buddypress.scss */
.widget.buddypress #bp-login-widget-form label {
  display: block;
  margin: 1rem 0;
}

/* line 25, buddypress.scss */
.widget.buddypress div.item-content, .widget.buddypress div.item-meta {
  font-size: 12px;
  margin-left: 31px;
}

/* line 30, buddypress.scss */
.widget.buddypress span.activity {
  font-size: 100%;
  opacity: .8;
}

/* line 36, buddypress.scss */
.item-options .selected {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
}

/* line 50, buddypress.scss */
#buddypress .comment-reply-link,
#buddypress a.button,
#buddypress button,
#buddypress div.generic-button a,
#buddypress input[type=button],
#buddypress input[type=reset],
#buddypress input[type=submit],
#buddypress ul.button-nav li a,
a.bp-title-button {
  font-size: 1.4rem;
  padding: 12px 15px;
  vertical-align: middle;
}
/* line 55, buddypress.scss */
#buddypress .comment-reply-link:hover,
#buddypress a.button:hover,
#buddypress button:hover,
#buddypress div.generic-button a:hover,
#buddypress input[type=button]:hover,
#buddypress input[type=reset]:hover,
#buddypress input[type=submit]:hover,
#buddypress ul.button-nav li a:hover,
a.bp-title-button:hover {
  background: #ededed;
}

/* line 60, buddypress.scss */
#buddypress ul.item-list li div.meta {
  color: #777;
  font-size: 80%;
}

/* line 65, buddypress.scss */
#buddypress div.pagination .pagination-links {
  float: right;
  margin-right: 80px;
  height: auto;
}

/* line 71, buddypress.scss */
#buddypress div.dir-search {
  float: right;
  margin: -88px 0 0;
}

/* line 77, buddypress.scss */
div.dir-search label {
  color: #777;
  display: inline-block;
  vertical-align: top;
}

/* line 106, buddypress.scss */
#buddypress .dir-search input[type=search],
#buddypress .dir-search input[type=text],
#buddypress .groups-members-search input[type=search],
#buddypress .groups-members-search input[type=text],
#buddypress .standard-form input[type=color],
#buddypress .standard-form input[type=date],
#buddypress .standard-form input[type=datetime-local],
#buddypress .standard-form input[type=datetime],
#buddypress .standard-form input[type=email],
#buddypress .standard-form input[type=month],
#buddypress .standard-form input[type=number],
#buddypress .standard-form input[type=password],
#buddypress .standard-form input[type=range],
#buddypress .standard-form input[type=search],
#buddypress .standard-form input[type=tel],
#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=time],
#buddypress .standard-form input[type=url],
#buddypress .standard-form input[type=week],
#buddypress .standard-form select,
#buddypress .standard-form textarea,
#buddypress div.dir-search input[type=text],
#buddypress li.groups-members-search input[type=text] {
  font-family: sans-serif;
  font-size: 15px;
  padding: 5px 14px;
}

/* line 111, buddypress.scss */
#buddypress div.item-list-tabs {
  display: inline-block;
  float: left;
  clear: none;
}
/* line 116, buddypress.scss */
#buddypress div.item-list-tabs#subnav {
  float: right;
  margin: 0;
  font-family: sans-serif;
  font-size: 15px;
  color: #777;
}
/* line 123, buddypress.scss */
#buddypress div.item-list-tabs#object-nav {
  border-bottom: 1px solid #eaeaea;
}

/* line 132, buddypress.scss */
.entry-content a,
.entry-summary a,
.page-content a,
.comment-content a,
.pingback .comment-body > a {
  border-bottom: none;
}

/* line 139, buddypress.scss */
button,
input,
select,
textarea {
  font-family: sans-serif;
  font-size: 15px;
  padding: 5px;
  color: #777;
  border: 1px solid #ccc;
}

/* line 146, buddypress.scss */
#buddypress div.item-list-tabs ul li {
  box-shadow: none;
}

/* line 150, buddypress.scss */
#buddypress div.item-list-tabs ul li a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #eaeaea;
  border-bottom: none;
  margin-right: 3px;
}

/* line 159, buddypress.scss */
#buddypress div.item-list-tabs ul li a,
#buddypress div.item-list-tabs ul li span {
  font-family: sans-serif;
  font-size: 14px;
  padding: 9px 17px;
  color: #777;
  font-weight: 600;
}

/* line 169, buddypress.scss */
#buddypress div.item-list-tabs ul li.current a,
#buddypress div.item-list-tabs ul li.selected a,
#buddypress div.item-list-tabs ul li:hover a {
  background: #ededed;
  color: #333 !important;
}

/* line 174, buddypress.scss */
.pagination .page-numbers {
  float: left;
  padding: 0 0.8421em;
}
/* line 178, buddypress.scss */
.pagination .page-numbers.next {
  padding: 0;
}

/* line 184, buddypress.scss */
ul.item-list li div.item-title,
#buddypress ul.item-list li h4 {
  font-size: 100% !important;
  font-weight: 600 !important;
}

/* line 191, buddypress.scss */
#buddypress div.pagination .pag-count {
  margin-left: 80px;
  margin-top: 15px;
  font-size: 90%;
}

/* line 197, buddypress.scss */
#buddypress ul.item-list li div.item-desc {
  font-size: 90%;
  margin: 10px 0 0 70px;
}

/* line 202, buddypress.scss */
#buddypress span.activity {
  font-size: 70%;
  opacity: .6;
}

/* line 207, buddypress.scss */
.pagination .page-numbers {
  line-height: 3;
}
/* line 211, buddypress.scss */
.pagination .page-numbers.next, .pagination .page-numbers.prev {
  padding: 0 !important;
}

/* line 217, buddypress.scss */
#buddypress div.pagination .pagination-links a,
#buddypress div.pagination .pagination-links span {
  font-size: 100%;
  padding: 0 10px;
}

/* line 223, buddypress.scss */
.pagination .prev,
.pagination .next {
  height: 50px;
  width: 53px;
}
/* line 227, buddypress.scss */
.pagination .prev:before,
.pagination .next:before {
  height: 50px;
  line-height: 50px;
  width: 52px;
}

/* line 234, buddypress.scss */
#buddypress div.pagination {
  box-shadow: none;
  padding: 10px 0;
  border-top: 1px solid #eaeaea;
}

/* line 240, buddypress.scss */
.button.group-create {
  background: #333 !important;
  color: #fff !important;
  border: none !important;
}
/* line 245, buddypress.scss */
.button.group-create:hover {
  background: #222 !important;
}

/* line 250, buddypress.scss */
#whats-new-form {
  clear: both;
}

/* line 255, buddypress.scss */
.group-home #subnav {
  width: 100%;
  margin: 20px 0 30px !important;
}

/* line 261, buddypress.scss */
#whats-new-avatar {
  margin-top: -5px;
}

/* line 266, buddypress.scss */
.feed a {
  border-bottom: 1px solid #eaeaea !important;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 273, buddypress.scss */
#buddypress ul.item-list li {
  border-bottom: 1px solid #eaeaea;
  padding: 25px 0;
}

/* line 278, buddypress.scss */
#buddypress .activity-list .activity-content {
  margin: -15px 0 0 70px;
}

/* line 282, buddypress.scss */
#buddypress .activity-list .activity-content .activity-header img.avatar {
  float: left !important;
  margin: 0 10px 0px 0 !important;
}

/* line 287, buddypress.scss */
#buddypress #activity-stream p {
  margin: 10px 0;
}

/* line 291, buddypress.scss */
#buddypress div.item-list-tabs ul li:last-child a {
  margin-right: 0 !important;
}

/* line 296, buddypress.scss */
#whats-new-textarea textarea {
  width: 100% !important;
  height: 100px !important;
}

/* line 302, buddypress.scss */
#whats-new-options {
  height: 50px !important;
}

/* line 306, buddypress.scss */
.activity-header {
  font-size: 14px;
}
/* line 311, buddypress.scss */
.activity-header p a,
.activity-header p img {
  display: none;
}
/* line 314, buddypress.scss */
.activity-header p a:first-child,
.activity-header p img:first-child {
  display: block;
}
/* line 319, buddypress.scss */
.activity-header p .view {
  display: block;
}

/* line 325, buddypress.scss */
#buddypress div.activity-meta a {
  padding: 7px 13px;
}

/* line 330, buddypress.scss */
#buddypress #reply-title small a span,
#buddypress a.bp-primary-action span {
  padding: 3px 5px 1px;
}

/* line 334, buddypress.scss */
.activity-header p a:first-child, .activity-header p img:first-child {
  display: inline-block;
}

/* line 338, buddypress.scss */
#buddypress ul.item-list li img.avatar {
  margin: 0 20px 0 0;
}

/* line 342, buddypress.scss */
a.join-group {
  margin-bottom: 30px;
  display: block;
  padding: 7px 14px;
}

/* line 348, buddypress.scss */
#buddypress div#item-header img.avatar {
  margin: 0 20px 19px 0;
}

/* line 353, buddypress.scss */
.activity-read-more a {
  font-family: sans-serif;
  letter-spacing: .8px;
}

/* line 360, buddypress.scss */
.last.filter label {
  margin-right: 4px;
}

/* line 367, buddypress.scss */
#members-list li .item-title {
  font-weight: 400 !important;
}
/* line 370, buddypress.scss */
#members-list li .item-title > a {
  font-weight: 600 !important;
}
